# Folders
build/
cmake-build-*/
debug/
dist/
logs/
node_modules/
pids/
out/
target/

# Dotfolders
.history/
.webpack/
.idea/
.npm/

# Folder globs
test-folder/*
.vscode/*
.yarn/*

# Files
modules.xml
npm-debug.log*
package-lock.json
report.*.json
yarn-*.log*

# Dotfiles
.eslintcache
.env
.env.*
.history
.idea/misc.xml
.ionide
.node_repl_history
.pnp.*
.vscode-test
.yarn-integrity

# File globs
*.code-workspace
*.iml
*.ipr
*.iws
*.log
*.pdb
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
**/*.rs.bk

# Negations
!test-folder/mods/
!.vscode/extensions.json
!.vscode/settings.json
!/.yarn/yarn.lock
