@tailwind components;

@layer components {
  .tree-container {
    @nest :is(&, & > div) {
      height: 100%;
      max-height: 100%;
    }
  }

  .tree-container > div {
    @apply rounded-lg overflow-y-scroll scrollable;
    --bg-scrollbar: theme('colors.base-200');
    --thumb-scrollbar: theme('colors.primary');

    &::-webkit-scrollbar-track {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }

  :is(.btn-accept, .btn-close, .btn-reject) {
    @apply btn px-8 hover:outline hover:outline-accent-focus;
  }

  .btn-accept {
    @apply btn-primary;
  }

  .btn-close {
    @apply bg-base-100 hover:bg-base-200;
  }

  .btn-reject {
    @apply text-secondary;
    background-color: var(--bg-color);
  }

  .cell-card {
    @apply card min-h-full max-h-full h-full justify-center text-lg text-center;
  }
}
