.cell-card {
  @apply card min-h-full max-h-full h-full justify-center text-lg;
}

.browse-button {
  @apply btn max-h-full h-full col-span-1;
  --border-btn: 0;
  grid-column-start: 13;
  margin-left: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-container {
  @apply grid grid-cols-12 flex-row flex-grow justify-center h-12 w-full my-1;
  grid-template-columns: repeat(14, minmax(0, 1fr));
}

.input-label {
  @apply col-span-2 text-center px-2 bg-base-100 col-start-2;
}

.input-value {
  @apply bg-base-100 col-span-8 col-start-5 px-3 font-mono text-center;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
