/* Only to be included in index.tsx to avoid HMR slowdowns */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer core_tweaks {
  div#root {
    /* Make the root div fill the viewport */
    @apply relative h-screen;
  }

  .root__grid {
    /* Make the main grid expand to fill the entire root div */
    @apply absolute top-0 left-0 right-0 bottom-0;
  }

  .svg {
    @apply max-h-full max-w-full w-full min-w-full;
  }
}

.root__grid {
  @apply grid grid-cols-2 grid-rows-1 grid-flow-col gap-2 m-2;

  & > .info-pane {
    @apply grid;
    grid-template-rows: 15fr 1fr;

    & .action-buttons__container {
      @apply mt-2 self-center;

      & .action-buttons__grid {
        @apply grid grid-flow-row grid-cols-4 bg-base-300 grow-0 shrink-0 gap-2;
      }
    }
  }
}

/*
 * Weird hack that stops tree-container from forcing the grid to grow...
 * Remove overflow-y-hidden from either mod-info or mod-info__content at your own risk 💀💀💀
 * The mod-3 mock data expands enough to demonstrate this behaviour.
 * */
div.mod-info {
  @apply rounded-b-lg grid h-full overflow-y-hidden;
  grid-template-rows: max-content 15fr;

  &__content {
    @apply bg-base-100 rounded-b-lg flex-auto grid grid-rows-2 overflow-y-hidden;

    & > .files-tab__file-list {
      @apply h-full max-h-full p-2 bg-base-100 rounded-tl-xl;

      max-height: 100%;

      & > .tree-container {
        @apply h-full max-h-full;

        & > div {
          @apply h-full max-h-full rounded-lg overflow-y-scroll scrollable;
          --bg-scrollbar: theme('colors.base-200');
          --thumb-scrollbar: theme('colors.primary');

          overflow-y: scroll;

          &::-webkit-scrollbar-track {
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
          }
        }
      }
    }
  }
}

.mod-info__tabs-container {
  @apply tabs bg-base-300;

  & > div {
    @apply tab bg-base-200 tab-xs sm:tab-xs md:tab-sm lg:tab-md xl:tab-lg tab-lifted;
    overflow-y: unset;
  }
}

.tree-item-group {
  @apply bg-base-200 pl-0 text-left w-full h-max min-h-full;

  list-style-type: none;

  & .tree-item {
    @apply border-none py-3 cursor-pointer relative no-z text-base-content pr-3 flex flex-row;

    background: none;
    box-shadow: none;

    & > .toggle-icon {
      @apply inline-block px-3 my-auto font-mono select-none duration-150 h-4;

      & > svg.symbol {
        @apply w-6 h-4 duration-150 text-center fill-secondary-focus;

        &.open {
          @apply transition-transform rotate-90 duration-150;
        }
      }
    }

    &:first-of-type {
      border-top-width: 2px;
    }

    &--active > div.tree-item-content {
      @apply rounded-lg outline outline-2 outline-accent;
    }

    & > div.tree-item-content {
      @apply flex flex-row justify-start w-full px-1 font-mono;

      & > span {
        @apply cursor-text;
      }
    }
  }
}

div.modCard {
  @apply soft-corners bg-base-100 m-1 h-10 shrink-0 leading-10 outline-none select-none card-text;
}

div.selected {
  @apply outline-accent-focus text-white;
}

div.modal {
  @apply bg-base-200 bg-opacity-50;
}

.modal__content {
  @apply modal-box max-w-[90%] lg:max-h-[90%] h-full flex flex-col justify-between bg-base-200 shadow-black shadow-2xl;

  & .cell-card {
    @apply card min-h-full max-h-full h-full justify-center text-lg;
  }

  & .modal-title {
    @apply text-center text-3xl font-bold p-2;
  }

  & .divider {
    &:before,
    &:after {
      --tw-bg-opacity: 0.5;
    }
  }

  & .input-container {
    @apply grid flex-row flex-grow justify-center h-12 w-full my-1;
    grid-template-columns: repeat(14, minmax(0, 1fr));

    &__label {
      @apply col-span-2 text-center px-2 bg-base-100 col-start-2;
    }

    &__value {
      @apply bg-base-100 col-span-8 col-start-5 px-3 font-mono text-center rounded-r-none;
    }

    &__browse {
      @apply btn max-h-full h-full col-span-1;
      --border-btn: 0;
      grid-column-start: 13;
      margin-left: 2px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  & .modal__action {
    @apply modal-action;

    & .btn-close {
      @apply btn bg-base-100 hover:bg-base-200 border-none px-8;
    }

    & .btn-accept {
      @apply btn btn-primary px-8;
    }

    & .btn-reject {
      @apply btn bg-base-200 hover:bg-base-300 border-none px-8 text-secondary;
    }
  }
}

.mod-list {
  @apply soft-corners bg-base-200 flex-vert justify-start h-full min-h-max overflow-y-auto;

  &[data-dragging-over='true'] {
    @apply outline outline-2 outline-accent;
  }
}
