/* Only to be included in index.tsx to avoid HMR slowdowns */
@import './css/base.css';
@import './css/components.css';
@import './css/utilities.css';
@import './css/components/modal.css';
@import './css/components/tree.css';

.root__grid {
  @apply grid grid-cols-2 grid-rows-1 grid-flow-col gap-2 m-2;

  & > .info-pane {
    display: grid;
    grid-template-rows: 15fr 1fr;

    & .action-buttons__container {
      @apply mt-2 self-center;

      & .action-buttons__grid {
        @apply grid grid-flow-row grid-cols-4 bg-base-300 grow-0 shrink-0 gap-2;
      }
    }
  }
}

/*
 * Weird hack that stops tree-container from forcing the grid to grow...
 * Remove overflow-y-hidden from either mod-info or mod-info__content at your own risk 💀💀💀
 * The mod-3 mock data expands enough to demonstrate this behaviour.
 * */
.mod-info {
  @apply rounded-b-lg grid h-full overflow-y-hidden;
  grid-template-rows: max-content 15fr;
}

.mod-info__content {
  @apply bg-base-100 rounded-b-lg flex-auto grid grid-rows-2 overflow-y-hidden;

  & .files-tab__file-list {
    @apply h-full max-h-full p-2 bg-base-100 rounded-tl-xl;
  }
}

.mod-info__tabs-container {
  @apply tabs bg-base-300;

  & > div {
    @apply tab bg-base-200 tab-xs sm:tab-xs md:tab-sm lg:tab-md xl:tab-lg tab-lifted;
    overflow-y: unset;
  }
}

.modCard {
  @apply soft-corners bg-base-100 m-1 h-10 shrink-0 leading-10 select-none card-text text-white;

  &[data-selected='true'] {
    --selected-outline: theme('colors.accent');
    filter: brightness(130%);
  }

  &[data-selected='false'] {
    @apply outline-none;
  }
}

.modal {
  @apply bg-base-200 bg-opacity-50;
}

.mod-list {
  @apply soft-corners bg-base-200 flex-vert justify-start h-full min-h-max overflow-y-auto;

  &[data-dragging-over='true'] {
    @apply outline outline-2 outline-accent;
  }
}
